n8n-workflows/2-daily-digest.json
{
  "name": "Lina Point — Daily Digest (8am)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "b2000001-0001-4000-8000-000000000001",
      "name": "Every Day at 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 360]
    },
    {
      "parameters": {
        "url": "https://lina-point.vercel.app/api/cron/rate-parity",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cron-secret",
              "value": "={{ $env.CRON_SECRET || 'your-cron-secret' }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "b2000001-0001-4000-8000-000000000002",
      "name": "Fetch Rate Parity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 240]
    },
    {
      "parameters": {
        "url": "https://lina-point.vercel.app/api/cron/tour-prices",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cron-secret",
              "value": "={{ $env.CRON_SECRET || 'your-cron-secret' }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "b2000001-0001-4000-8000-000000000003",
      "name": "Fetch Tour Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 480]
    },
    {
      "parameters": {
        "jsCode": "// Combine rate parity + tour price data into a daily digest\nconst rates = $('Fetch Rate Parity').first().json;\nconst tours = $('Fetch Tour Prices').first().json;\n\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nlet summary = `📊 LINA POINT DAILY DIGEST — ${dateStr}\\n\\n`;\n\n// Rate parity summary\nsummary += '🏨 ROOM RATES\\n';\nif (rates && rates.results) {\n  for (const r of rates.results) {\n    const status = r.beating ? '✅ Beating OTA' : '⚠️ Check pricing';\n    summary += `  ${r.roomType}: $${r.ourRate} vs OTA $${r.otaLowest} — ${status}\\n`;\n  }\n} else {\n  summary += '  Rate data: ' + JSON.stringify(rates).substring(0, 200) + '\\n';\n}\n\nsummary += '\\n🎯 TOUR PRICES\\n';\nif (tours && tours.results) {\n  summary += `  ${tours.results.length} tours updated\\n`;\n} else {\n  summary += '  Tour data: ' + JSON.stringify(tours).substring(0, 200) + '\\n';\n}\n\nreturn [{ json: { digest: summary, date: dateStr, rateData: rates, tourData: tours } }];"
      },
      "id": "b2000001-0001-4000-8000-000000000004",
      "name": "Build Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 360]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "digest-output",
              "name": "dailyDigest",
              "value": "={{ $json.digest }}",
              "type": "string"
            },
            {
              "id": "digest-date",
              "name": "date",
              "value": "={{ $json.date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2000001-0001-4000-8000-000000000005",
      "name": "Output Digest",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1020, 360]
    }
  ],
  "connections": {
    "Every Day at 8am": {
      "main": [
        [
          { "node": "Fetch Rate Parity", "type": "main", "index": 0 },
          { "node": "Fetch Tour Prices", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Rate Parity": {
      "main": [
        [{ "node": "Build Digest", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Tour Prices": {
      "main": [
        [{ "node": "Build Digest", "type": "main", "index": 0 }]
      ]
    },
    "Build Digest": {
      "main": [
        [{ "node": "Output Digest", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "active": false
}
